In [93]:
import numpy as np
import numpy.random as random
import scipy as sp
from pandas import Series,DataFrame
import pandas as pd

import matplotlib.pyplot as plt
import matplotlib as mpl
import seaborn as sns 
%matplotlib inline

import sklearn

%precision 3

import requests,zipfile
import io

In [99]:
url = 'http://archive.ics.uci.edu/ml/machine-learning-databases/iris/iris.data'
res = requests.get(url).content

iris = pd.read_csv(io.StringIO(res.decode('utf-8')),header = None)
print(iris)

       0    1    2    3               4
0    5.1  3.5  1.4  0.2     Iris-setosa
1    4.9  3.0  1.4  0.2     Iris-setosa
2    4.7  3.2  1.3  0.2     Iris-setosa
3    4.6  3.1  1.5  0.2     Iris-setosa
4    5.0  3.6  1.4  0.2     Iris-setosa
..   ...  ...  ...  ...             ...
145  6.7  3.0  5.2  2.3  Iris-virginica
146  6.3  2.5  5.0  1.9  Iris-virginica
147  6.5  3.0  5.2  2.0  Iris-virginica
148  6.2  3.4  5.4  2.3  Iris-virginica
149  5.9  3.0  5.1  1.8  Iris-virginica

[150 rows x 5 columns]

In [100]:
iris = iris[iris[4] != 'Iris-virginica']

In [101]:
iris.groupby(iris[4]).size()

4
Iris-setosa        50
Iris-versicolor    50
dtype: int64

In [102]:
iris[4] = iris[4].map(lambda x:1 if x =='Iris-versicolor' else 0)
iris.groupby(iris[4]).size()

4
0    50
1    50
dtype: int64

In [103]:
iris

      0    1    2    3  4
0   5.1  3.5  1.4  0.2  0
1   4.9  3.0  1.4  0.2  0
2   4.7  3.2  1.3  0.2  0
3   4.6  3.1  1.5  0.2  0
4   5.0  3.6  1.4  0.2  0
..  ...  ...  ...  ... ..
95  5.7  3.0  4.2  1.2  1
96  5.7  2.9  4.2  1.3  1
97  6.2  2.9  4.3  1.3  1
98  5.1  2.5  3.0  1.1  1
99  5.7  2.8  4.1  1.3  1

[100 rows x 5 columns]

In [90]:
iris = iris.sample(frac=1)
iris

      0    1    2    3  4
4   5.0  3.6  1.4  0.2  0
24  4.8  3.4  1.9  0.2  0
97  6.2  2.9  4.3  1.3  1
73  6.1  2.8  4.7  1.2  1
19  5.1  3.8  1.5  0.3  0
..  ...  ...  ...  ... ..
43  5.0  3.5  1.6  0.6  0
50  7.0  3.2  4.7  1.4  1
15  5.7  4.4  1.5  0.4  0
44  5.1  3.8  1.9  0.4  0
52  6.9  3.1  4.9  1.5  1

[100 rows x 5 columns]

In [91]:
print(iris.dtypes)

0    float64
1    float64
2    float64
3    float64
4      int64
dtype: object

In [92]:
from sklearn.linear_model import LogisticRegression
from sklearn.model_selection import train_test_split

X = iris[[0,1,2,3]]
y = iris[4]

X_train,X_test,y_train,y_test = train_test_split(X,y,test_size=0.5,random_state=0)

model= LogisticRegression()
model.fit(X_train,y_train)

print(y_train)

print('æ­£è§£çŽ‡(train):{:.3f}'.format(model.score(X_train,y_train)))
print('æ­£è§£çŽ‡(test):{:.3f}'.format(model.score(X_test,y_test)))

77    1
21    0
4     0
85    1
68    1
35    0
16    0
76    1
31    0
36    0
14    0
98    1
66    1
54    1
56    1
46    0
71    1
51    1
96    1
13    0
3     0
79    1
27    0
15    0
44    0
37    0
20    0
90    1
53    1
94    1
65    1
5     0
63    1
18    0
10    0
75    1
69    1
87    1
82    1
81    1
42    0
64    1
58    1
6     0
74    1
50    1
59    1
32    0
41    0
72    1
Name: 4, dtype: int64
æ­£è§£çŽ‡(train):1.000
æ­£è§£çŽ‡(test):1.000